<!-- Header -->
<div class="container-fluid no-pad">
<!-- Big Image-->
<section class="main-intro" style="background: url(assets/images/bg.jpg)">
  <div class="overlay">
    <div class="caption container-fluid">
      <h1>Bayu Darmantra</h1>
    </div>
  </div>
</section>

{{ outlet }}


<!-- Footer -->
</div>
