<!-- Header -->
<div class="row">
  <div class="col-md-4">
    <a href="#"><span>Name</span></a>
  </div>
  <div class="col-md-2">
    <a href="#"><span>Size</span></a>
  </div>
  <div class="col-md-3">
    <a href="#"><span>Type</span></a>
  </div>
  <div class="col-md-3">
    <a href="#"><span>Modified</span></a>
  </div>
</div>

<!-- File example -->
<div class="row">
  <div class="col-md-4">
    <a href="#"><i class="fa fa-file-o fa-fw"></i> <span>Document1.docx</span></a>
  </div>
  <div class="col-md-2">
    <span>15MB</span>
  </div>
  <div class="col-md-3">
    <span>Word 2013 document</span>
  </div>
  <div class="col-md-3">
    <span>2016-08-06 12:00:00</span>
  </div>
</div>

<!-- Folder example-->
<div class="row">
  <div class="col-md-4">
    <a href="#"><i class="fa fa-folder-o fa-fw"></i> <span>Folder 1</span></a>
  </div>
  <div class="col-md-2">
    <span>-</span>
  </div>
  <div class="col-md-3">
    <span>Folder</span>
  </div>
  <div class="col-md-3">
    <span>2016-08-06 12:00:00</span>
  </div>
</div>
